h1, h2, h3, h4, h5, h6 {
  font-family: arial;
}

code {
  background-color: lightgray;
}

.announcement {
  background-color: indianred;
  color: white;
}

ul li{
  font-family: "Comic Sans MS";
}

ol{

}
