h1, h2, h3, h4, h5, h6 {
  font-family: arial;
}

code {
  background-color: lightgray;
}

.announcement {
  background-color: indianred;
  color: white;
}

/* Apply style to Comic Sans MS */
ul li{
  font-family: "Comic Sans MS";
}

/* Make all list items in ordered list bigger (24px) */
ol li{
  font-size: 24px;
}
/* Make all <code> tags inside announcekents black text on white background*/
.announcement code{
  background-color: white;
  color: black;
}

p:last-child {
  color: blue;
}
