body {
  padding-left: 300px;
  padding-right: 300px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  background-color: lightgrey;
  padding-left: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* block :: Use margin left and margin right to center <li> */
  /*  margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

code {
  background-color: lightgray;
  padding-left: 12px;
  padding-right: 12px;
}

.announcement {
  background-color: indianred;
  color: white;
  margin-top: 96px;
  margin-bottom: 96px;
  padding: 24px 48px;
}

/* Apply style to Comic Sans MS */
ul li{
  font-family: "Comic Sans MS";
  background-color: beige;
  margin-bottom: 16px;
}

/* Make all list items in ordered list bigger (24px) */
ol li{
  font-size: 24px;
  background-color: beige;
  margin-bottom: 12px;
}
/* Make all <code> tags inside announcekents black text on white background*/
.announcement code{
  background-color: white;
  color: black;
}

p:last-child {
  color: blue;
}

.nav-items-ul {
  /* inline:: Text-align the parent to align the children <li> */
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.nav-item-li {
  /* Display Things next to each other */
  display: inline;
  /* Set size of the nav items */
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

}
