@media screen and (max-width: 1440px) {
  header {
    background-color: cyan;
  }
}

@media screen and (max-width: 1024px) {
  header {
    background-color: magenta;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color: yellow;
  }
}

@media screen and (max-width: 480px) {
  header {
    background-color: red;
  }
}
