/*
Project Name: Responsive Web Redesign
Client: Relaxr
Author: Mike Morales
Developer @GA in NYC
*/



/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 .625rem .625rem; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 .625rem .625rem 0; /* note the padding around a left floated image */
}



/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 1.625rem;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}



/******************************************
/* LAYOUT: Home Page
/*******************************************/

/* Center the container */
.container {
  max-width: 60rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
}
.logo {
  font-size: 4.5rem;
  font-weight: 800;
}


/* GLOBAL: Header Nav Section */
header {
  background: #033048;
  padding: 1.5625rem 2rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: .9375rem;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 2.5rem;
  font-size: 1.5rem;
}
header nav ul li a {
  color: #f9e42e;
}


/* HOME PAGE: Hero Module */
.header-hero-parent{
  min-height: 37.5rem;
  height: 100vh;
  box-sizing: border-box;
  background-image:url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.nav-hamburger {
  float: right;
  margin-top: 1rem;
  width: 2rem;
}

#hero {
  box-sizing: border-box;
  width: 100%;
  height: 83%;
  background-color: none;
  float: left;
  position: relative;
}

.hero-copy-btn-parent {
  margin-top: 8rem;
  margin-bottom: 0rem;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 4.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 5.625rem;
  font-weight: 600;
}
.button {
  border-radius: .3125rem;
  font-weight: 800;
  padding: .75rem 0;
  max-width: 17.5rem;
  font-size: 1.75rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}



/* HOME PAGE: Benefits Module */
#benefits {
  padding: 6.25rem 0 5rem;
}
h3 {
  color: #033048;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
#benefits p, #benefits ul {
  max-width: 43.75rem;
}
#benefits ul {
  list-style: disc;
  margin: 1.875rem 0 0 5rem;
}



/* HOME PAGE: Testimonial Module */
#testimonial {
  background-image:url(../images/testimonial_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #071324;
  padding: 4.375rem 0 4.375rem;
  color: #fff;
  width: 100%;
}
blockquote {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  max-width: 36.35rem;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
  padding-top: .625rem;
}


/******************************************
/* LAYOUT: Blog Page
/*******************************************/


/* BLOG PAGE: Content Section */
#main {
  margin-top: 5rem;
}

.blog-section-parent {
  max-width: 60rem;
}

#posts {
  box-sizing: border-box;
  width: 70%;
  float: left;
  display: inline-block;
  padding-right: 3rem;
  vertical-align: top;
}

.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}

.post h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 1.875rem;
}

.post h2 a {
  color: #043049;
}

.post img {
  width: 100%;
  margin-bottom: 1.875rem;
}

.post p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #606161;
}

.post p:first-of-type:first-letter {
  float: left;
  font-size: 5rem;
  line-height: 4.0625rem;
  padding-top: .25rem;
  padding-right: .5rem;
  padding-left: .1875rem;
  font-weight: 600;
}

.readmore {
  text-align: right;
  margin-top: 1.875rem;
}

.readmore a {
  color: #043049;
  font-weight: 600;
}



/* BLOG PAGE: Side Bar */
#sidebar {
  box-sizing: border-box;
  width: 30%;
  float: left;
  display: inline-block;
  vertical-align: top;
}

#sidebar h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: .9375rem;
  color: #043049;
}

#sidebar ul {
  margin-bottom: 2.5rem;
}

#sidebar ul li a {
  color: #043049;
  font-size: 1.5rem;
}

#sidebar p {
  font-size: 1.375rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
}

#sidebar p a {
  color: #043049;
  font-weight: 600;
}



/******************************************
/* LAYOUT: GLOBAL: Footer Section
/*******************************************/

#bottom-cta {
  background: #f9e42e;
  padding: 1.875rem;
  text-align: center;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 1.5rem;
}
footer {
  background: #121212;
  padding: 4.0625rem 0 2.8125rem;
  text-align: center;
}

footer .logo {
  color: #f9e42e;
  margin-bottom: 4.25rem;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1.625rem 4.6875rem;
}

footer p {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 600;
}
