body{
  background: rgba(0, 0, 0, 1);
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
  /* TRANSITION ON: CROSS BROWSER */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
a:hover {
  color: #00C69D;
}
.nav-parent {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 60px;
}
.nav-left {
  background: rgba(100, 0, 0, 0);
  padding-left: 20px;
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0%,-50%);
}
.nav-home {
  padding: 0px;
  margin: 0px;
  /* TYPOGRAPHY */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
}
.nav-right {
  background: rgba(100, 0, 0, 0);
  padding-right: 20px;
  float: right;
  position: relative;
  top: 50%;
  transform: translate(0%,-50%);
}
.nav-link1:hover {
  /* CONTAINER */
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
  /* HOVER ON: CROSS BROWSER */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.nav-link1 {
  /* CONTAINER */
  background-color: rgba(255, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  position: relative;
  float:right;
  top: 50%;
  right: 40%;
  transform: translate(-16%);
  text-align: center;
  padding: 10px;
  width: 100px;
  /* TYPOGRAPHY */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, .8);
  /* HOVER OFF: CROSS BROWSER */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.nav-link2:hover {
  /* CONTAINER */
  background-color: #00C69D;
  border-color: #00C69D;
  color: rgba(255, 255, 255, 1);
  /* HOVER ON: CROSS BROWSER */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.nav-link2 {
  /* CONTAINER */
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  position: relative;
  float:right;
  right: -65%;
  transform: translate(-20%);
  text-align: center;
  padding: 10px;
  width: 100px;
  height: 50%;
  /* TYPOGRAPHY */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(100, 100, 100, 1);
  /* HOVER OFF: CROSS BROWSER */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.header-parent-work{
  background: white;
  background-image: url('./images/mm_work.png');
background-image: '';
  height: 100vh;
  background-repeat:no-repeat;
  /* CROSS BROWSER */
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}
.header-parent{
  background: white;
  background-image: url('https://tau0.files.wordpress.com/2014/01/dark_lake_bw.jpg');
  height: 100vh;
  background-repeat:no-repeat;
  /* CROSS BROWSER */
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}
.header-parent-center-v {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-header {
  background: rgba(240, 240, 240, 0);
  padding-top: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* TYPOGRAPHY */
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}
.intro-text {
  background: rgba(240, 240, 240, 0);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 40px;
  padding-top: 16px;
  padding-bottom: 4px;
  font-family: 'Merriweather', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.8em;
  color: rgba(255, 255, 255, 1);
}
.process-container {
  background-color: rgba(245, 245, 245, 1);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 500px;
  min-height: 400px;
  line-height: 2em;
}
.process {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.divider-bar {
  margin: 0 auto;
  background: #00C69D;
  width: 100px;
  height: 3px;
}
.footer-parent {
  float: left;
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 100%;
  position: relative;
}
/* Why doesn't this color work? */
.footer-center {
  /* added this and it fixed it, why? whee was it before? */
  float: left;
  background-color: rgba(255, 0, 0, 0);
  margin: 0 auto;
  position: absolute;
}
.footer-contact {
  background-color: rgba(255, 0, 0, 0);
  float: left;
  width: 100px;
  text-align: center;
  margin: 10px;
  margin-top: 15px;
  font-size: 12px;
}
/* NON CONTAINTER ELEMENTS */
.down-arrow {
  background: rgba(240, 240, 240, 0);
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 0;
  line-height: 0px;
  float: bottom;
}
/* PROJECT PAGE */
.work-grid {
  min-height: 600px;
  height: auto;
}
.work-object {
  float: left;
  width: 28%;
  height: 300px;
  background-color: rgba(255, 0, 0, 0.5);
  margin-left: 3%;
  margin-top: 60px;
  margin-right: 2%;
}
.work-title {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  text-align: center;
}
#work-img {
  max-width: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .intro-header {
    font-size: 16px;
  }
  .intro-text {
    font-size: 12px;
  }
  .divider-bar {
    width: 60px;
  }
}
