* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header-image {
  width: 100%;
}

.sign-up {
  background-color: cadetblue;

  padding-top: 24px;
  padding-bottom: 24px;
}

.sign-up-heading, .sign-up-description {
  text-align: center;
}

.sign-up-heading {
  font-size: 42px;
}

.sign-up-description {
  font-size: 24px;
}

.sign-up-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  padding: 24px 48px;

  background: white;
}

.sign-up-input, .sign-up-label {
  display: block;
}

.form-field-group {
  margin-top: 30px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
  width:100%;
  height: 30px;
  padding: 8px;
  font-size: 14px;
}

input[type="submit"] {
  padding: 200px;
  font-size: 18px;
}

/*input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}*/
