/*
Project Name: Startup Matchmaker
Client: Startup Matchmaker
Author: Mike Morales
Developer @GA in NYC
*/



/******************************************
/* LAYOUT: 1440rem Breakppoint
/*******************************************/
@media screen and (max-width: 90rem) {
  /* GLOBAL: Navigation Section */
}


/******************************************
/* LAYOUT: 1024px Breakpoint
/*******************************************/
@media screen and (max-width: 64rem) {
  /* GLOBAL: Navigation Section */


  /* GRID: 3 column */
  .grid-items {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
  }

  .grid-item-column {
    width: 33.33%;
  }
}


/******************************************
/* LAYOUT: 768px Breakppoint
/*******************************************/
@media screen and (max-width: 48rem) {
  /* GLOBAL: Navigation Section */
  header nav ul {
    display: block;
  }

  header h2 {
    width: 100%;
    float: left;
  }

  header nav {
    float: none;
  }

  .info-boxes {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .info-box {
    width: 100%;
  }

  .info-box button {
    margin-left: auto;
    margin-right: auto;
  }

  .info-border {
    border-right-width: 0px;
    border-right-color: lightgrey;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
  }

  /* GRID: 2 column */
  .grid-item-column {
    width: 50%;
  }
}



/******************************************
/* LAYOUT: 560px Breakppoint
/*******************************************/
@media screen and (max-width: 40rem) {
  /* GLOBAL: Navigation Section */

  /* GRID: 1 column */
  .grid-item-column {
    width: 100%;
  }

  .grid-item-parent {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .global-btn {
    max-width: 100%;
  }
}


/******************************************
/* LAYOUT: 480px Breakppoint
/*******************************************/
@media screen and (max-width: 30rem) {
  /* GLOBAL: Navigation Section */

  /* GRID: 1 column */
  .grid-item-column {
    width: 100%;
  }
}
