/*
Project Name: Startup Matchmaker
Client: Startup Matchmaker
Author: Mike Morales
Developer @GA in NYC
*/



/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  font-family: arial;
}

h1, h2, h3, h4, h5, h5 {
  font-family: georgia;
}

button {
  /* Styling */
  font-size: 1.2rem;
  letter-spacing: .04rem;
}

li {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.global-btn {
  font-family: impact;
  text-transform: uppercase;
  background-color: lightgrey;
  width: 100%;
  max-width: 18.75rem;
  padding: .625rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: .25rem;
  border-radius: .25rem;
  border-bottom-color: rgba(0, 0, 0, .3);
}

.global-yellow-btn {
  background-color: yellow;
  border-bottom-color: rgba(202, 206, 0, .5);
}

.global-grid-bg {
  background-color: lightgrey;
}


/******************************************
/* GLOABL Header Nav
/*******************************************/

header {
  /* Positioning */
  width: 100%;
  background-color: black;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  /* Boarder Details */
  border-bottom-width: .25rem;
  border-bottom-color: yellow;
  border-style: solid;
}

header h2 {
  /* Positioning */
  width: 50%;
  float: left;
  border: 1.25rem;
  border-color: yellow;
}

header h2 a {
  /* Styling */
  color: yellow;
  text-decoration: none;
  vertical-align: middle;
  font-family: georgia;
  font-size: 2rem;
}

header nav a {
  /* Styling */
  color: white;
  text-decoration: none;
}

header nav ul {
  /* Positioning */
  display: inline;
}

header nav ul li {
  /* Positioning */
  display: inline;
  padding-left: .625rem;
  padding-left: .625rem;
}

.primary-navigation {
  /* Styling */
  font-family: impact;
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

header nav {
  /* Positioning */
  float: right;
}

.secondary-navigation {
  /* Styling */
  color: white;
}



/******************************************
/* GLOBAL: Footer Module
/*******************************************/

footer {
  background-color: black;
  padding: 1.25rem;
}

footer p {
  color: white;
}



/******************************************
/* HOME PAGE: Subhead Quote
/*******************************************/

.subhead-quote {
  /* Styling */
  font-family: georgia;
  font-weight: bold;
  font-style: italic;
  font-size: 1.75rem;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  /* Positioning */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.strikethrough {
  /* Styling */
  color: grey;
  text-decoration: line-through;
}

.underline {
  /* Styling */
  text-decoration: underline yellow;
}

/******************************************
/* HOME PAGE: Hero Module
/*******************************************/

.hero {
  background-image: url('../images/coworking.jpg');
}

.sign-up-call-to-action {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px black;
  width: 36%;
  float: right;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.sign-up-call-to-action h1 {
  font-family: arial;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: .05rem;
  margin-bottom: .625rem;
}

.sign-up-call-to-action p {
  line-height: 1.4;
  margin-bottom: 1.25rem;
}



/******************************************
/* HOME PAGE: Info Module
/*******************************************/

.info-box {
  float: left;
  width: 33.3%;
  padding: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

/* NOT WORKING */
.info-border {
  border-right-width: 1px;
  border-right-color: lightgrey;
  border-right-style: solid;
}

.info-box h2 {
  font-family: georgia;
  font-weight: 600;
  font-size: 1.875rem;
  margin-bottom: .625rem;
}

.info-box p {
  margin-bottom: .625rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}


/******************************************
/* Developer: Tiles
/*******************************************/

.grid-items {
  background-color: lightgrey;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.grid-item-parent {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.grid-item-column {
  width: 25%;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 1rem;
  float: left;
}

.grid-item {
  padding: .625rem;
  background-color: white;
  width: 100%;
}

.grid-item img {
  width: 100%;
  margin-bottom: .625rem;
}

.grid-item p {
  margin-bottom: .25rem;
  font-size: 1.2rem;
}

.grid-item ul {
  margin-bottom: .5rem;
}
.grid-item ul li {
  display: inline;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: dimgrey;
  border-radius: 1rem;
  color: white;
  font-size: .75rem;
  box-sizing: border-box;
  line-height: 1.8rem;

}
