/* things in here */
header {
  min-height: 600px;
  background-color: lightblue;
}

#vp-parent {
  height: 400px;
  background-color: papayawhip;
}

#benefits-parent {
  height: 400px;
  background-color: lightblue;
}

#testimonial-parent {
  height: 400px;
  background-color: papayawhip;
}

#signup-parent {
  height: 400px;
  background-color: yellow;
}

footer {
  height: 400px;
  background-color: papayawhip;
}

/* Set Global Width for all Sections */
.global-width {
  width: 100%;
}

/* Clearfix all the things */
header,
#vp-parent,
#benefits-parent,
#testimonial-parent,
#signup-parent,
footer
 {
  content: "";
  display: table;
  clear: both;
}

/* Mobile Breakpoint */
@media (max-width: 320px) {

}

/* Tablet Breakpoint */
@media (max-width: 768px) {

}
